.about-us {
  margin: 0;
  padding: 0;

  border: 1px solid black;
}

.about-us__lead {
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  color: $bold-text-color-1;
}

.about-us__reasons {
  font-size: 14px;
  line-height: 1.86;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
}

.about-us__list {
  list-style: none;
}
