.about-us {
  padding-top: 39px;
}

.about-us__container {
  width: 80%;
  margin: 0 auto;
}

.about-us__lead {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: $bold-text-color-1;
}

.about-us__reasons {
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 1.86;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .about-us {
    padding-top: 48px;
  }

  .about-us__container {
    width: 490px;

    &::after {
      display: none;
    }
  }

  .about-us__lead {
    font-size: 21px;
    margin-bottom: 22px;
  }

  .about-us__reasons {
    margin-bottom: 50px;
  }
}
