.advantages-list {
  background-color: #ffffff;
}

.advantages-list__item {
  color: $bold-text-color-1;
}

.advantages-list__subtitle {
  font-size: 18px;
  line-height: 1.44;
}

.advantages-list__text {
  font-size: 14px;
  line-height: 1.5;
}
