.feature-item {
  position: relative;

  background-color: #eeeeee;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 87.5%;
    height: 1px;

    background-color: #d6d6d6;
    transform: translateX(-50%);
  }
}

.feature-item:last-child::after {
  display: none;
}

.feature-item__wrapper {
  width: 100%;
  margin: 0;

  text-align: center;
}

.feature-item__title {
  margin-top: 26px;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 26px;
  color: $bold-text-color-1;
}

.feature-item__number,
.feature-item__description {
  font-size: 14px;
  line-height: 21px;
}

.feature-item__number {
  margin: 0;
  margin-bottom: 15px;
}

.feature-item__description {
  width: 84%;
  margin: 0 auto;
  margin-bottom: 28px;
}


.feature-item--extended {
  color: $bold-text-color-2;

  background-color: $decoration-bg-color;

  .feature-item__title {
    margin-top: 39px;
    margin-bottom: 9px;

    color: $bold-text-color-2;
  }

  .feature-item__number {
    margin: 0;
    margin-bottom: 15px;
  }

  .feature-item__description {
    width: 84%;
    margin: 0 auto;
    margin-bottom: 39px;
  }

  &::after {
    display: none;
  }
}

.feature-item--first {
  padding-top: 10%;

  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;

  .feature-item__title {
    margin-top: 44px;
    margin-bottom: 10px;
  }

  .feature-item__description {
    margin-bottom: 40px;
  }
}

.feature-item--road .feature-item__description {
  width: 65%;
}

.feature-item--tourists .feature-item__description {
  width: 78%;
}

.feature-item__picture {
  width: 320px;
  height: 260px;
  margin: 0 auto;
}

@media (min-width: 351px) and (max-width: 767px) {
  .feature-item__picture {
    margin-bottom: 15px;
  }
}

.feature-item__list {
  list-style: none;
}

@media (min-width: $tablet-width) {
  .feature-item::after {
    display: none;
  }

  .feature-item__wrapper {
    width: 160px;
  }

  .feature-item__title {
    width: 152px;
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;

    font-size: 21px;
    line-height: 26px;
    color: $bold-text-color-1;
  }

  .feature-item__title--first-line span {
    display: block;
  }

  .feature-item__number {
    margin-bottom: 21px;
  }

  .feature-item--extended {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .feature-item__wrapper {
      flex-grow: 1;
    }

    .feature-item__title {
      margin-top: 45px;
    }

    .feature-item__number {
      margin-bottom: 21px;
    }

    .feature-item__description {
      width: 165px;
      margin: 0 auto;
    }
  }

  .feature-item--first {
    padding-top: 0;

    background-image: none;
  }

  .feature-item--second {
    display: flex;

    .feature-item__picture {
      order: -1;
      margin-right: auto;
    }
  }

  .feature-item--area .feature-item__description {
    width: 100%;
    margin: 0;
  }

  .feature-item--road .feature-item__description {
    width: 83%;
    margin: 0 auto;
  }

  .feature-item--tourists .feature-item__description {
    width: 92%;
    margin: 0 auto;
  }

  .feature-item__picture {
    width: 512px;
    height: 256px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .feature-item__wrapper {
    width: 286px;
  }

  .feature-item--extended .feature-item__title {
    margin-top: 53px;
  }

  .feature-item--first .feature-item__description {
    width: 267px;
  }

  .feature-item--second .feature-item__description {
    width: 217px;
  }

  .feature-item--road .feature-item__description {
    width: 95%;
  }

  .feature-item__picture {
    width: 800px;
    height: 256px;
  }
}
