.features-list {
  display: flex;
  flex-direction: column;

  background-color: #eeeeee;

  @include list-reset;
}

@media (min-width: $tablet-width) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .features-list {
    padding-bottom: 66px;
  }
}
