.feature-item {
  background-color: #eeeeee;

  &--extended {
    color: $bold-text-color-2;

    background-color: $decoration-bg-color;
  }
}

.feature-item__wrapper {
  width: 265px;
  margin: 0 auto;

  text-align: center;
}

.feature-item__title {
  font-size: 18px;
  line-height: 1.44;
  color: $bold-text-color-1;
}

.feature-item--extended .feature-item__title {
  color: $bold-text-color-2;
}

.feature-item__number,
.feature-item__description {
  font-size: 14px;
  line-height: 1.5;
}

.feature-item__picture {
  width: 275px;
  height: 260px;
  margin: 0 auto;

  background-color: darkblue;
}

.feature-item__list {
  list-style: none;
}

@media (min-width: $tablet-width) {
  .feature-item--extended {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .feature-item__wrapper {
    width: 160px;
    &--extended {
      order: 2;
    }
  }

  .feature-item__title {
    width: 130px;
    margin: 0 auto;
  }

  .feature-item__picture {
    width: 512px;
    height: 256px;
  }
}

@media (min-width: $desktop-width) {
  .feature-item__wrapper {
    width: 285px;
  }

  .feature-item__picture {
    width: 800px;
    height: 256px;
  }
}
