.main-nav__container {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.main-nav__wrapper {
  display: flex;
  align-items: flex-start;
  order: 2;
  align-self: center;
}

.main-nav__logo {
  width: 102px;
  height: 83px;
}

.main-nav__toggle {
  position: absolute;
  top: 14px;
  right: 16px;
  z-index: 10;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 1px;

    width: 27px;
    height: 5px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 10;

  width: 23px;
  height: 4px;

  background-color: #81b3d2;
  border: none;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
  cursor: pointer;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__list {
  @include list-reset;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    position: absolute;
    top: 0;
    left: 50%;

    order: 0;

    transform: translateX(-50%);
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__container {
    width: 1200px;
  }

  .main-nav__logo {
    width: 188px;
    height: 96px;
  }
}
