.main-nav {
  min-height: 279px;
}

.main-nav__container {
  display: flex;
  flex-direction: column;
}

.main-nav__wrapper {
  display: flex;
  align-items: flex-start;
  order: 2;
  align-self: center;
}

.main-nav__logo {
  display: inline-block;
  width: 102px;
  height: 83px;

  background-color: darkblue;
}

.main-nav__list {
  @include list-reset;
}

.site-list__item {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    min-height: 56px;
    margin: 0;
  }

  .main-nav__container {
    width: 693px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__container {
    width: 983px;
  }

  .main-nav__logo {
    width: 188px;
    height: 96px;
  }
}
