.main-reservation {
  position: relative;

  width: 87.5%;
  max-width: 460px;
  min-height: 208px;
  margin: 0 auto;
  padding-top: 27px;

  text-align: center;
}

.main-reservation__tagline {
  margin: 0;
  margin-bottom: 19px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $bold-text-color-1;
}

.main-reservation__preview {
  margin-bottom: 35px;
}

.main-reservation__link {
  position: relative;
  z-index: 130;

  max-width: 460px;
  margin: 0 auto;

  background-color: #766357;

  &:hover {
    background-color: #604e43;
  }

  &:active {
    background-color: #503e33;
  }
}

.main-reservation__form {
  position: absolute;
  z-index: 120;
}

@media (min-width: $tablet-width) {
  .main-reservation {
    width: 568px;
    max-width: none;
    padding-top: 53px;
  }

  .main-reservation__tagline {
    margin-bottom: 29px;

    font-size: 30px;
    line-height: 1;
  }

  .main-reservation__lead {
    display: block;
  }

  .main-reservation__preview {
    margin-bottom: 42px;
  }

  .main-reservation__link {
    max-width: none;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .main-reservation__preview {
    margin-bottom: 47px;
  }
}
