.map {
  margin-top: 49px;
}

.map__source {
  width: 100%;
  height: 350px;

  border: none;
}

@media (min-width: $tablet-width) {
  .map {
    margin-top: 58px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    margin-top: 66px;
  }
}
