@media (max-width: $mobile-width-only) {
  .page-wrap--drop-down {
    animation-name: drop-down;
    animation-duration: 0.35s;
  }
}

@media (min-width: $desktop-width) {
  .page-wrap {
    width: 1200px;
    margin: 0 auto;

    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  }
}
