.page-main {
  background-color: #ffffff;
}

.page-main__title {
  margin: 0;
  margin-bottom: 26px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $bold-text-color-1;
}

.page-main--inner {
  padding-top: 39px;
}


@media (min-width: $tablet-width) {
  .page-main__title {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 30px;
  }

  .page-main--inner {
    padding-top: 72px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: 1200px;
    margin: 0 auto;
  }

  .page-main--inner {
    padding-top: 110px;
  }

  .page-main__title {
    margin-bottom: 28px;
  }
}
