.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__banner {
  min-height: 214px;

  background-color: #374a54;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .page-header__banner {
    min-height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1200px;
    margin: 0 auto;
  }
}
