.post__title {
  font-size: 14px;
  line-height: 1.71;
  color: $bold-text-color-1;
}

.post__author {
  text-transform: none;
}

.post__source {
  font-style: normal;
}

.post__likes-number {
  font-weight: bold;
  color: $bold-text-color-1;
}
