.reservation {
  width: 280px;
  min-height: 208px;
  margin: 10px auto;
  padding: 10px;

  text-align: center;

  border: 1px solid black;
}

.reservation__tagline {
  font-weight: bold;
  font-size: 21px;
  line-height: 1.24;
  color: $bold-text-color-1;
}

@media (min-width: $tablet-width) {
  .reservation {
    width: 458px;
  }

  .reservation__tagline {
    font-size: 30px;
    line-height: 0.86;
  }
}
