.reservation {
  width: 280px;
  min-height: 208px;
  margin: 0 auto;
  padding-top: 27px;

  text-align: center;
}

.reservation__tagline {
  margin: 0;
  margin-bottom: 19px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $bold-text-color-1;
}

.reservation__preview {
  margin: 0;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .reservation {
    width: 458px;
    padding-top: 53px;
  }

  .reservation__tagline {
    margin-bottom: 29px;

    font-size: 30px;
    line-height: 1;
  }

  .reservation__lead {
    display: block;
  }

  .reservation__preview {
    margin-bottom: 42px;
  }
}

@media (min-width: $desktop-width) {
  .reservation__preview {
    margin-bottom: 47px;
  }
}
