.review__text {
  width: 87%;
  max-width: 442px;
  margin: 0 auto;
  margin-bottom: 17px;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .review__text {
    margin-bottom: 73px;
  }
}

@media (min-width: $desktop-width) {
  .review__text {
    margin-bottom: 58px;
  }
}
