.social__list {
  @include list-reset;
}

.social__item {
  display: inline-block;
  width: 46px;
  height: 48px;

  background-color: $decoration-bg-color;
}

.social__link {
  color: $bold-text-color-2;
}
