.video-content {
  padding-bottom: 98px;
}

.video-content__tagline {
  width: 236px;
  margin: 30px auto 26px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $bold-text-color-1;
}

.video-content__text {
  width: 238px;
  margin: 0 auto;
  margin-bottom: 35px;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .video-content {
    padding-bottom: 34px;
  }

  .video-content__tagline {
    width: 415px;
    margin-top: 65px;
    margin-bottom: 28px;

    font-size: 30px;
    line-height: 1;
  }

  .video-content__text {
    width: 417px;
    margin-bottom: 73px;
  }
}

@media (min-width: $desktop-width) {
  .video-content {
    padding-bottom: 77px;
  }

  .video-content__tagline {
    margin-top: 68px;
  }

  .video-content__text {
    margin-bottom: 72px;
  }
}
