$decoration-bg-color: #81b3d2;
$main-text-color: #333333;
$bold-text-color-1: #000000;
$bold-text-color-2: #ffffff;
$input-bg-color: #f2f2f2;
$sorting-text-color: #81b3d2;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
